* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body,
.container,
.temperature,
.controller {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  height: 100vh;
  color: white;
}

.container {
  flex-direction: column;
  background-color: #376279;
  border-radius: 1rem;
  padding: 3rem;
  box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.75);
}

.temperature {
  border: 2.5px solid white;
  font-size: 5rem;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  padding: 2rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.controller {
  gap: 6rem;
}

.add,
.subtract {
  font-size: 5rem;
  background-color: #676767;
  border: 2px solid white;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}

.add:hover,
.subtract:hover {
  background-color: white;
  color: #676767;
}
